<div class="row">
  <div class="col-sm-8 col-md-9">
    <ol class="breadcrumb">
      <li><a href="{% url 'dcim:device' interface.device.id %}">
        {{ interface.device }}</a></li>
      <li>{{ interface.name }}</li>
    </ol>
  </div>
  <div class="col-sm-4 col-md-3">
    <form action="{% url 'dcim:interface_list' %}" method="get">
      <div class="input-group">
        <input type="text" name="q" class="form-control"
               placeholder="Search interfaces" />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">
            <span class="fa fa-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>

<h1>Port {{ interface.name }}</h1>
{% include 'inc/created_updated.html' with obj=interface %}
